div.imageContainer img {
    width:100%;
}


@media screen and (max-width: 800px) {
    
}
    

@media screen and (min-width: 800px) {
    div.imageContainer {
        display: inline-block;
        width: 49%; display: inline-block;
    }
 }